* {
  font-family:helvetica;
}
/* This is for the title of the project */
.title {
  background-color: slateblue;
  color: lavender;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

/* Dashed line surrounds each project separately */
.project {
  border: 3px dashed lavender;
  padding: 5px;
  margin: 10px;
  max-width: 800px;
}

/* Project is divided to weekly sessions. */
.session {
  background-color:#E2D4EF;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

/* This is for the session's title */
.session-title { 
  padding: 5px;
  margin-left: 15px; 
  line-height: 30px;
}

/* This is for the description of each main content */
.description {
  padding: 5px;
  margin-left: 30px;
  line-height: 25px;
}

/* Summarize one project */
.summary {
  background-color: mistyrose;
  border-radius: 20px;
  padding: 10px;
}

/* The title of the summary */
.summary-title {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

/* The content of the summary */
.summary-content {
  line-height: 30px;
  font-size: 20px;
  margin: 10px;
}

/* This is for code's example */
.code {
    background: #eee;
    padding: 5px;
    line-height: 15px;
    font-family: Courier;
    font-size:13px;
    display: inline-block;
}

/* This is for making indentation in code's 
example or when needed */
.indent {
    background: #eee;
    padding: 3px;
    line-height: 15px;
    font-family: Courier;
    font-size:13px;
    display: inline-block;
    margin-left: 30px;
}